<!-- Header Section -->
<header class="bg-black py-6">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <a href="/">
                <div class="flex items-left text-xl font-bold text-white">
                <img src="{{ "/assets/img/mobiflight-logo-24.png" | relative_url }}" class="h-8 mr-2" alt="MF logo" />MobiFlight
            </div>
        </a>
        <div class="flex">
            <a href="#" class="text-white hover:text-gray-300 font-bold px-4 flex items-center">Download</a>
            <a href="community.html" class="text-white hover:text-gray-300 px-4 flex items-center">Community</a>
            <a href="#" class="text-white hover:text-gray-300 px-4 flex items-center">Documentation</a>
            <a href="https://shop.mobiflight.com" class="text-white hover:text-gray-300 px-4 flex items-center font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>                          
                &nbsp;Shop
            </a>
        </div>
    </div>
</div>
</header>